/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Titillium+Web:wght@400;600&display=swap');
/* utilities */
body{
    font-family: 'Cairo', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    background-color: #F3F1FF;

}
main{
    display: flex;
    justify-content: center;
}
/* top players style */
hr{
    border: 1px solid #D1D1D1;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
}
.top-players{
    margin-bottom: 21px;
}
.section-title{
    color: #562EFF;
    margin-top: 3px;

}
.players{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}

/* top blogs styles */

.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.blog{
    display: flex;

} 
.blogs img{
    width: 177px;
    height: 117px;
}

.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color:  #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    color: #562EFF;
    font-size: 16px;
    text-decoration: none;
}

